
@media screen and (min-width: 1000px){
    *{ 
        margin: 0;
        text-decoration: none;
        list-style: none;  
    }
    body{
        background-image: url(Imagenes/emblema.png);
        background-repeat: repeat;
        margin: 50px 150px 20px 150px;
    }
    p{
        padding-bottom: 50px;
        color: #6e6ed2;
        font-family: sans-serif;
        font-weight: 600;
        font-size: 35px;
        text-align: center;
    }
    main{
        display: flex;
        flex-direction: column;
        height:max-content;
        background-color: white;
        border: 2px solid #f1f1f1;
        padding: 50px;
    }

    /*Sección en la que aparecen los contenidos*/
    .titulos{
        display: flex;
        flex-direction: row;
        height: 15px;
        text-align: center;
        justify-content: center;
        font-family: sans-serif;
        padding-bottom: 10px;
    }
    .elemento-hijo-titulo:nth-child(1){
        padding-left: 134px;
        padding-right: 212px;
    }
    .elemento-hijo-titulo:nth-child(2){
        padding-right: 56px;
    }
    .elemento-hijo-titulo:nth-child(3){
        padding-right: 170px;
    }
    .elemento-hijo-titulo:nth-child(4){
        padding-right: 74px;
    }

    /*Linea divisoria*/
    .linea{
        width: 100%;
        height: 2px;
        background-color: #f2f2f2;
    }

    /*Seccion del los productos*/

    /*Producto 1*/
    .producto1{
        display: flex;
        flex-direction: row;
        height: 90px;
        padding-top: 10px;
        text-align: center;
        font-family: sans-serif;
        padding-bottom: 5px;
    }
    .elemento-hijo-producto1:nth-child(1){
        display: flex;
        flex-direction: row;
        padding-bottom: 10px;
    }
    .foto1{
        margin-right: 15px;
        padding-top: 3px;
        width: 118px;
        object-fit: none;
    }
    .pantalon{
        object-fit: cover;
        width: 50%;
    }
    .titulo1{
        text-align: left;
        padding-top: 10px;
        padding-bottom: 5px;
        padding-right: 96px;
        font-size: 15;
        font-weight: 700;
        color: black;
    }
    .code1{
        text-align: left;
        font-size: 10px;
        font-weight: 300;
        color: black;
    }
    .elemento-hijo-producto1:nth-child(2){
        padding-top: 15px;
        padding-right: 45px;
        padding-left: 35px;
    }
    .cuadrado{ /*el cuadrado lo vamos a usar tanto el el producto 1 como en el dos*/
        width: 55px;
        height: 55px;
        border: 1.5px solid #ededed; /*f2f2f2*/
    }
    .elemento-hijo-producto1:nth-child(3){
        display: flex;
        flex-direction: row;
        padding-top: 15px;
        padding-right: 40px;
    }
    .cuadrado1{
        width: 55px;
        height: 55px;
        border: 1.5px solid #0e0e4d;
        background-color: #0e0e4d;
    }
    .cuadrado2{
        width: 55px;
        height: 55px;
        border-bottom: 1.5px solid #ededed;
        border-top: 1.5px solid #ededed;
        border-left: 1.5px solid #ededed;
    }
    .cuadrado3{
        width: 55px;
        height: 55px;
        border: 1.5px solid #ededed;
        background-color: #f7f7f7;
    }

    .elemento-hijo-producto1:nth-child(4){
        padding-top: 15px;
        padding-right: 21px;
        padding-left: 14px;
    }
    .elemento-hijo-producto1:nth-child(5){
        padding-top: 15px;
        padding-left: 40px;
    }
    .cuadrado4{
        width: 55px;
        height: 55px;
    }
    .dinero-talla-cantidad{
        text-align: center;
        padding-top: 20px;
        font-size: 15;
        font-weight: 700;
        color: black;
    }
    .dinero-talla-cantidad1{
        text-align: center;
        padding-top: 20px;
        font-size: 15;
        font-weight: 700;
        color: white;
    }

    /*Producto 2*/
    .producto2{
        display: flex;
        flex-direction: row;
        height: 90px;
        padding-top: 10px;
        text-align: center;
        font-family: sans-serif;
        padding-bottom: 5px;
        
    }
    .elemento-hijo-producto2:nth-child(1){
        display: flex;
        flex-direction: row;
        padding-bottom: 10px;
    }
    .foto2{
        margin-right: 15px;
        padding-top: 3px;
        width: 118px;
    }
    .top{
        object-fit: cover;
        width: 50%;
    }
    .titulo2{
        text-align: left;
        padding-top: 10px;
        padding-bottom: 5px;
        padding-right: 85px;
        font-size: 15;
        font-weight: 700;
        color: black;
    }
    .code2{
        text-align: left;
        font-size: 10px;
        font-weight: 300;
        color: black;
    }
    .elemento-hijo-producto2:nth-child(2){
        padding-top: 15px;
        padding-right: 46px;
        padding-left: 35px;
    }
    .elemento-hijo-producto2:nth-child(3){
        display: flex;
        flex-direction: row;
        padding-top: 15px;
        padding-right: 40px;
    }
    .elemento-hijo-producto2:nth-child(4){
        padding-top: 15px;
        padding-right: 21px;
        padding-left: 14px;
    }
    .elemento-hijo-producto2:nth-child(5){
        padding-top: 15px;
        padding-left: 40px;
    }

    /*Ahora vamos con la seccion de los precios*/
    .precios{
        padding-top: 20px;
        padding-bottom: 35px;
        display: flex;
        flex-direction: row;
        height: 70px;
    }
    .caja{
        display: flex;
        flex-direction: row;
        padding-left: 11px;
        padding-top: 6px;
        padding-bottom: 8px;
        padding-right: 20px;
        margin-right: 20px;
        width: 150px;
        flex-basis: 150px;
        justify-content: space-between;
        flex-grow: 1;
        border: 1.5px solid #ededed;;
    }
    .caja1{
        display: flex;
        flex-direction: row;
        padding-left: 11px;
        padding-top: 6px;
        padding-bottom: 8px;
        padding-right: 20px;
        width: 150px;
        flex-basis: 150px;
        justify-content: space-between;
        flex-grow: 1;
        border: 1.5px solid #ededed;;
    }        
    .costo{
        width: 100px;
    }
    .precio{
        width: 70px;
    }
    .descripcion{
        text-align: center;
        padding-top: 20px;
        font-size: 15px;
        font-weight: 300;
        color: black;
    }

    /*Menasaje del descuento*/
    .mensaje{
        font-family: sans-serif;
        text-align: left;
        padding-left: 33px;
        font-size: 12px;
        font-weight: 300;
        color: black;
    }

    /*Finalmente llegamos a la parte de los descuentos*/
    .descuentos{
        display: flex;
        flex-direction: row;
        padding-top: 15px;
    }
    .rectangulo1{
        padding-left: 15px;
        padding-top: 3px;
        height: 45px;
        width: 490px;
        border: 1.5px solid #ededed;
    }
    .descripcion1{
        text-align: left;
        padding-left: 15px;
        padding-top: 13px;
        font-size: 15px;
        font-weight: 300;
        color: black;
    }
    .rectangulo2{
        padding-top: 3px;
        height: 45px;
        width: 230px;
        border: 1.5px solid #0e0e4d;
        background-color: #0e0e4d;
    }
    .descripcion2{
        text-align: left;
        padding-left: 33px;
        padding-top: 13px;
        font-size: 15px;
        font-weight: 300;
        color: white;
    }
    .rectangulo3{
        display: flex;
        flex-direction: column;
        padding-left: 20px;
    }
    .cesta{
        display: flex;
        flex-direction: row;
    }
    .checkout{
        text-align: left;
        width: 140px;
        height: 51px;
        padding-right: 40px;
        margin-right: 5px;
        border: 1.5 solid #0e0e4d;
        background-color: #0e0e4d;

    }
    .descripcion3{
        text-align: left;
        padding-left: 33px;
        padding-top: 18px;
        font-size: 15px;
        font-weight: 300;
        color: white;
    }
    .icono{
        width: 48px;
        height: 48px;
        border: 1.5px solid #0e0e4d;
        background-color: #0e0e4d;
    }
    .fa-shopping-basket{
        padding-top: 15px;
        padding-left: 15px;
        color: white;
    }
    .update-quantity{
        height: 45px;
        margin-top: 5px;
        border: 1.5px solid #ededed;
        background-color: #f7f7f7;
    }
    .continue-shopping{
        height: 45px;
        margin-top: 5px;
        border: 1.5px solid #ededed;
        background-color: #f7f7f7;
    }
    .descripcion4{
        text-align: left;
        padding-left: 33px;
        padding-top: 14px;
        font-size: 15px;
        font-weight: 300;
        color: black;
    }

}