body {
    color: rgb(255, 255, 255);
    margin: 0;
}
nav {
    justify-content: center;
    display: flex;
    background-color: rgb(0, 0, 0);
    height: 78px;
}

nav a {
    text-align: center;
    border: 2px solid  rgb(0, 77, 5);
}

li {
    list-style-type: none;
    display: inline-block;
    background-color: rgb(0, 77, 5);
    padding: 16px;
    color: white;
    align-items: center;
    font-size: 19px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
#inc{
    border: 2px solid rgb(12, 197, 12);
}
#log {
    position: absolute;
    right: 0;
    
}
#log:hover{
     border: 2px solid rgb(12, 197, 12);
}

.active {
    background-color: #ffffff;
}

header {
    color: rgb(255, 255, 255);
}

.bloque1 {
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.historiaTexto {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 10px;
    text-align: center;
    font-size: larger;
}

.caja1 {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 0px;
    background-color: black;
}

.foto1 {
    display: block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.flex-container {
    display: flex;
    background-color: rgb(255, 255, 255);
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 700px;
    background-image: url(https://p4.wallpaperbetter.com/wallpaper/191/774/454/lawn-grass-green-thick-wallpaper-preview.jpg);
}

thead {
    background-color: rgb(38, 38, 165);
}

th {
    padding: 7px 9px;
    font-weight: 70;
    text-transform: uppercase;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Encode Sans Condensed';
    border: 1px solid rgb(161, 214, 255);
    padding: 8px;
    color: white;
}

td {
    padding: 9px;
    border-bottom: solid 1px rgb(79, 79, 255);
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 20px;
    font-family: 'Encode Sans Condensed';
    border: 1px solid rgb(161, 214, 255);
    padding: 8px;
    color: white;

}

thead {
    border-collapse: collapse;
    background: rgb(26, 45, 64);
}

tbody {
    border-collapse: collapse;
    background: rgb(26, 45, 64);
}

tbody tr {
    cursor: pointer;
}

tbody tr:hover {
    background-color: rgb(104, 180, 255);
}

.redes {
    width: 40px;
    height: 40px;
}

.patrocinadores {
    width: 150px;
    height: 150px;
}



.tel {
    background-color: black;
    color: white;
    padding: 10px;
}

.patro{
    display: flex;
    justify-content:center;
    align-items: center;
}
.mapa {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#ptr {
    text-align: center;
    font-size: 30px;
    background-color: black;

}

#cosas {
    display: flex;
    justify-content: center;
    gap: 20px;
    background-color: black;
    padding: 10px;
}
#cosas img{
    height: 50px;
    width: 50px;
  }

footer {
    background-image: url(https://p4.wallpaperbetter.com/wallpaper/191/774/454/lawn-grass-green-thick-wallpaper-preview.jpg);
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    gap: 380px;
}
.mapa {
    display: flex;
    flex-direction: column;
    align-items: center;
}

address {
    width: 380px;
    background-color: black;
    color: white;
    padding: 10px;
}
#foto3{
    margin-top: 10px;
    height: 210px;
    width: 90px;
}
/*----------------------------MODO OSCURO---------------------------------*/


@media screen and (max-width:940px) {

    /*@media para adaptar a la pantalla*/
    body {
        flex-wrap: wrap;
    }

    main {
        width: 100vw;
    }

    header img[src="https://madridfutbol7.es/wp-content/uploads/2022/08/Tates-FC-Madridfutbol7.jpg"] {
        display: none;
    }

    .historiaTexto {

        font-size: medium;
    }

    .flex-container {
        /*al ser una tabla queremos que no sobresalga ni se corte, por lo que utilizamos una fuente de letra más pequeña que se adapte a la pantalla*/
        font-size: xx-small;
    }

    .caja1 {
        text-align: center;
        font-size: auto;
    }

}