body {
    margin: 0%;
    background-image: url(https://p4.wallpaperbetter.com/wallpaper/191/774/454/lawn-grass-green-thick-wallpaper-preview.jpg);
}

nav {
    justify-content: center;
    display: flex;
    background-color: rgb(0, 0, 0);
    height: 78px;
}

nav a {
    text-align: center;
    border: 2px solid  rgb(0, 77, 5);
}

li {
    list-style-type: none;
    display: inline-block;
    background-color: rgb(0, 77, 5);
    padding: 16px;
    color: white;
    align-items: center;
    font-size: 19px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

#pln {
    border: 2px solid rgb(12, 197, 12);
}

header {
    color: rgb(24, 3, 255);
}

.foto1 {
    display: block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.bloque1 {
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    color: rgb(255, 255, 255);
}

h1::first-letter {
    font-size: 130%;
}

.caja1 {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

div[class~="caja2"] {
    display: flex;
    background-color: rgba(0, 77, 5, 0.654);
    width: 100%;
    justify-content: center;
    align-items: center;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.filas {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.jugadores {
    width: 330px;
    height: 350px;
    background-color: rgba(0, 77, 5, 0.654);
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(4, 70, 1, 0.2);
    margin: 20px;
    overflow: hidden;
    transition: all 0.30s;
}

.jugadores:hover {
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(4, 70, 1, 0.2);
}

.jugadores img {
    width: 330px;
    height: 220px;
}

h4 {
    color: white;
}

p {
    color: white;
}

ul {
    justify-content: center;
    align-items: center;
}

.redes {
    width: 40px;
    height: 40px;
}

.patrocinadores {
    width: 150px;
    height: 150px;
}
.patro{
    display: flex;
    justify-content:center;
    align-items: center;
}
.mapa {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#ptr {
    text-align: center;
    font-size: 30px;
    background-color: black;

}

#cosas {
    display: flex;
    justify-content: center;
    gap: 20px;
    background-color: black;
    padding: 10px;
    margin-bottom: 10px;
}
#cosas img{
    height: 50px;
    width: 50px;
  }

footer {
    background-image: url(https://p4.wallpaperbetter.com/wallpaper/191/774/454/lawn-grass-green-thick-wallpaper-preview.jpg);
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    gap: 380px;
}

.mapa {
    display: flex;
    flex-direction: column;
    align-items: center;
}

address {
    width: 380px;
    background-color: black;
    color: white;
    padding: 10px;
}
#foto3{
    margin-top: 10px;
    height: 210px;
    width: 90px;
}

@media screen and (max-width:1076px) {

    /*El @media sirve para adaptar el contenido de la pagina a todas las pantallas*/
    body {
        flex-wrap: wrap;
        width: 100vw;
    }

    div[class~="flex-container"] {
        flex-wrap: wrap;
        width: 100vw;
        height: auto;
        margin: auto;
    }

    div[class~="jugadores"] {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-direction: column;
        flex-wrap: wrap;
        width: 100vw;
        margin: auto;
    }

    div[class~="filas"] {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 100vw;
        margin: auto;
    }
}