body {
    color: rgb(255, 255, 255);
    margin: 0;
    background-image: url("https://p4.wallpaperbetter.com/wallpaper/191/774/454/lawn-grass-green-thick-wallpaper-preview.jpg");
}

nav {
    justify-content: center;
    display: flex;
    background-color: rgb(0, 0, 0);
    height: 78px;
}

nav a {
    text-align: center;
    border: 2px solid  rgb(0, 77, 5);
}

li {
    list-style-type: none;
    display: inline-block;
    background-color: rgb(0, 77, 5);
    padding: 16px;
    color: white;
    align-items: center;
    font-size: 19px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
#acc {
    border: 2px solid rgb(12, 197, 12);
}

.active {
    background-color: #ffffff;
}

header {
    color: rgb(255, 255, 255);
}

.bloque1 {
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.historiaTexto {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 10px;
    text-align: center;
    font-size: larger;
}

.caja1 {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 0px;
    background-color: black;
}

.foto1 {
    display: block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 400px;
    padding-bottom: 40px;
}

.formulario {
    background-color: black;
}

#jugadores {
    float: right;
}

#enviar {
    margin-top: 20px;
    width: 140px;
    height: 40px;
}

#cosas {
    display: flex;
    justify-content: center;
    gap: 20px;
    background-color: black;
    padding: 10px;
}
#cosas img{
    height: 50px;
    width: 50px;
  }

.redes {
    width: 40px;
    height: 40px;
}

.patrocinadores {
    width: 150px;
    height: 150px;
}

address {
    width: 380px;
    background-color: black;
    color: white;
    padding: 10px;
}

*:required {
    /*pseudoclase que hace que todo aquello que sea obligatorio le ponga un fondo verde*/
    background-color: rgb(0, 255, 4);
}

input::placeholder {
    /*pseudo clase que le otorga un aspecto diferente a todos aquellos huecos que han sido escritos dando una pista de lo que hay que poner*/
    font-weight: bold;
    opacity: .5;
    color: black;
}

form {
    margin-top: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 40px;
}

footer {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    gap: 380px;
}

#foto3 {
    margin-top: 10px;
    height: 210px;
    width: 90px;
}

.patro {
    display: flex;
    justify-content: center;
    align-items: center;
}

.mapa {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#ptr {
    text-align: center;
    font-size: 30px;
    background-color: black;

}

@media screen and (max-width:500px) {
    body {
        flex-wrap: wrap;
    }

    main {
        width: 100vw;
    }

    header img[src="https://madridfutbol7.es/wp-content/uploads/2022/08/Tates-FC-Madridfutbol7.jpg"] {
        display: none;
    }

}